#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

PYVERS=$(shell pyversions -vr debian/control)

clean:
	rm -rf ./build/
	rm -f  lzma.so
	dh clean


# debhelper doesn't python auto-test yet, it seems.
override_dh_auto_test: $(PYVERS:%=test%)
	dh_auto_test
test%:
	python$* setup.py test

# Multiple binary packages, must specify which to install files into.
override_dh_auto_install:
	dh_auto_install --destdir=debian/python-lzma/
override_dh_strip:
	dh_strip --dbg-package=python-lzma-dbg
# debug package can refer to docs of depended-on binary package
override_dh_installdocs:
	dh_installdocs
	rm -rf            debian/python-lzma-dbg/usr/share/doc/python-lzma-dbg
	ln -s python-lzma debian/python-lzma-dbg/usr/share/doc/python-lzma-dbg


%:
	dh $@
